{% extends 'dondesong/base.html' %}
{% block title %}Déconnexion{% endblock %}

{% block content %}

<style>
    .box {
        max-width: 450px;
        margin: 60px auto;
        padding: 25px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
        text-align: center;
    }

    .btn-red {
        width: 100%;
        padding: 10px;
        background-color: #000000;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .btn-red:hover {
        background-color: #000000;
    }

    .btn-outline {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        display: block;
        color: black;
    }

    .btn-outline:hover {
        background-color: #eee;
    }

    p {
        color: #666;
    }
</style>

<div class="box">
    <h4>Vous avez été déconnecté.</h4>
    <p>Merci d'avoir utilisé Dondesong !</p>

    <a href="{% url 'login' %}" class="btn-red">Se reconnecter</a>
    <a href="{% url 'index' %}" class="btn-outline">Accueil</a>
</div>

{% endblock %}